.JoinPage{
    background-color: rgb(41, 24, 41);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.JoinContainer{
   
   
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    
    width: 200px;
    height: 180px;
}
.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: "Roboto";
    box-sizing: border-box;
    
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    font-family: "Roboto";
    outline: none;
    font-size: 1.2vmax;
    background: rgb(255,195,0);
    background: linear-gradient(58deg, rgba(255,195,0,1) 0%, rgba(168,0,255,1) 100%);
   box-sizing: border-box;
   transition: all 0.3s;
   cursor: pointer;
}
.joinbtn:hover{
    transition: 2s ease-in-out;;
    background: rgb(255,174,0);
    background: linear-gradient(222deg, rgba(255,174,0,0.9818293539325843) 0%, rgba(147,0,255,1) 58%);
}